
.container-login {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  background-image: linear-gradient(to bottom right, #c5307b, #5ab894, #85ac1a);
}

.leftBox-login {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightBox-login {
  border-color: #f3f3f3;
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
  margin-left: 15%;
  margin-top: 15%;
  width: 70%;
  height: 80%;
}

.rightBox-qrCode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.textbox {
  height: 55%;
  width: auto;
}
.text1 {
  width: 90%;
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: -15%;
  color: #254549;
}

.text2 {
  width: 90%;
  font-size: 90px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: -10%;
  color: #4c777d;
}

.text3 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: -6%;
  text-align: end;
  color: #254549;
}

.text5 {
  margin-top: 50%;
  margin-left: 10%;
  font-size: 25px;
  font-weight: bold;
  color: #f3f3f3;
  margin-bottom: -2%;
}

.input-text {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  font-size: 20px;
  font-weight: bold;
  color: #254549;
  width: 80%;
  height: 20%;
  border-radius: 30px;
  border-width: 0px;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #f3f3f3;
  box-shadow: inset 0 0 5px #00000060;
}

.btn-login {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  font-weight: bold;
  color: #f3f3f3;
  width: 80%;
  height: 20%;
  border-radius: 30px;
  border-width: 0px;
  margin-left: 10%;
  margin-top: 20%;
  background-color: #254549;
  box-shadow: 0 0 5px #00000060;
}

.btn-back {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  font-weight: bold;
  color: #f3f3f3;
  width: 80%;
  height: 6%;
  border-radius: 30px;
  border-width: 0px;
  margin-top: 5%;
  background-color: #254549;
  box-shadow: 0 0 5px #00000060;
}
