.nav-menu {
  left: 0px;
  background-color: #4c777d;
  width: 4%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 350ms;
  box-shadow: 0 0 5px #00000060;
}

.nav-back {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: start;
  padding: 1%;
  list-style: none;
  height: 8%;
}
.nav-back a {
  color: #e4e4e4;
}
.nav-logout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1%;
  list-style: none;
  height: 72%;
}

.nav-logout a {
  color: #e4e4e4;
}

.nav-logout.select {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1%;
  list-style: none;
  height: 80%;
}

.nav-logout.select a {
  color: #e4e4e4;
}
.nav-noti {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  list-style: none;
  height: 8%;
  /* color: #a1a1a150; */
}

.count {
  position: fixed;
  top: 9%;
  left: 1.5%;
  width: 10px;
  height: 10px;
  border-radius: 200px;
  font-size: 20px;
  font-weight: bold;
  color: #d6211a;
  border-width: 0px;
  text-align: center;
}
.nav-menu-item {
  padding: 0px;
  width: 100%;
  font-size: 2rem;
}
