body {
  background-color: #659ea7;
  font-family: 'Pridi', serif;
}

hr {
  width: 90%;
  border-width: 8px;
  border-color: #e4e4e4;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0 0 10px #00000060;
}

.header-text {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 40px;
  color: #ffffff;
}

.container-selectmode {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
}

.grid {
  margin-left: 17%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 150px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.feature {
  width: 95%;
  margin-left: 5%;
  margin-top: 6%;
  display: grid;
  grid-template-columns: 33% 33% 34%;
}

.box {
  display: flex;
  margin-left: 10%;
  width: 200px;
  height: 200px;
  background-color: #4c777d;
  border-radius: 50px;
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #00000060;
  color: #e4e4e4;
}

.box a {
  color: #e4e4e4;
}
