body {
  font-family: 'Pridi', serif;
}

.container-pickup {
  height: 120px;
  width: 95%;
  margin-left: 4%;
  display: grid;
  grid-template-columns: 18% 10% 16% 56%;
  grid-template-rows: 35% 65%;
  border-radius: 20px;
  margin-top: -1%;
}

.container-location {
  height: 120px;
  width: 95%;
  margin-left: 4%;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 35% 65%;
  border-radius: 20px;
  margin-top: -1%;
}

.header1-pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66a693;
  margin: 3px 3px;
  text-align: center;
  font-size: 25px;
  padding-top: 9px;
  border-radius: 50px 0 0 0;
  color: #effdff;
}
.header1-pickup.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc1d1d;
  margin: 3px 3px;
  text-align: center;
  font-size: 25px;
  padding-top: 9px;
  border-radius: 50px 0 0 0;
  color: #effdff;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66a693;
  margin: 3px 3px;
  text-align: center;
  font-size: 30px;
  border-radius: 0 50px 0 0;
  color: #effdff;
}

.header2.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc1d1d;
  margin: 3px 3px;
  text-align: center;
  font-size: 30px;
  border-radius: 0 50px 0 0;
  color: #effdff;
}

.header2-pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66a693;
  margin: 3px 3px;
  text-align: center;
  font-size: 25px;
  padding-top: 7px;
  border-radius: 0 50px 0 0;
  color: #effdff;
}

.header2-pickup.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc1d1d;
  margin: 3px 3px;
  text-align: center;
  font-size: 25px;
  padding-top: 7px;
  border-radius: 0 50px 0 0;
  color: #effdff;
}

.header3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66a693;
  margin: 3px 3px;
  text-align: center;
  font-size: 30px;
  color: #effdff;
}

.header3.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc1d1d;
  margin: 3px 3px;
  text-align: center;
  font-size: 30px;
  color: #effdff;
}

.header3-pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66a693;
  margin: 3px 3px;
  text-align: center;
  font-size: 25px;
  padding-top: 7px;
  color: #effdff;
}

.header3-pickup.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc1d1d;
  margin: 3px 3px;
  text-align: center;
  font-size: 25px;
  padding-top: 7px;
  color: #effdff;
}

.result1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f0ee;
  margin: 3px 3px;
  text-align: center;
  border-radius: 0 0 0 50px;
  font-size: 25px;
  color: #4c777d;
}

.result1.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfb0b0;
  margin: 3px 3px;
  text-align: center;
  border-radius: 0 0 0 50px;
  font-size: 25px;
  color: #4a5a5c;
}

.result1-pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f0ee;
  margin: 3px 3px;
  text-align: center;
  border-radius: 0 0 0 50px;
  font-size: 20px;
  color: #4c777d;
}

.result1-pickup.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfb0b0;
  margin: 3px 3px;
  text-align: center;
  border-radius: 0 0 0 50px;
  font-size: 20px;
  color: #4a5a5c;
}

.result2-pickup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f0ee;
  margin: 3px 3px;
  text-align: center;
  white-space: wrap;
  border-radius: 0 0 50px 0;
  font-size: 20px;
  color: #4c777d;
}

.result2-pickup.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfb0b0;
  margin: 3px 3px;
  text-align: center;
  white-space: wrap;
  border-radius: 0 0 50px 0;
  font-size: 20px;
  color: #4a5a5c;
}

.result3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f0ee;
  margin: 3px 3px;
  text-align: center;
  white-space: wrap;
  font-size: 25px;
  color: #4c777d;
}

.result3.false {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfb0b0;
  margin: 3px 3px;
  text-align: center;
  white-space: wrap;
  font-size: 25px;
  color: #4a5a5c;
}
